<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMS PNR</title>
</head>
<body>
    <form action="/" method="post">
        <label for="email">Enter E-mail</label>
        <input type="text" name="email" id="">
        <label for="pnr">PNR</label>
        <input type="text" name="pnr" id="">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>